@charset "UTF-8";
.item_location {
  position: absolute;
  bottom: 50px; /* 하단 여백 */
  right: 10px;  /* 우측 여백 */
  z-index: 1;   /* 지도 위에 표시 */
  display : flex;
  flex-direction:column;
}

.item_location button {
  /* 버튼 스타일 */
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 5px 10px;
  cursor: pointer;
}

.item_tool{
  position: absolute;
  top: 88px; /* 하단 여백 */
  right: 10px;  /* 우측 여백 */
  z-index: 1;   /* 지도 위에 표시 */
  display : flex;
  flex-direction:column;
}

.item_tool button{
	background-size:28px;
	width:32px;
	height:32px;
}

.item_tool .active{
	background-color : rgb(169 169 169);
}
.cursor-selection{
	background-image:url(../../../images/common/free-icon-cursor.png);
}

.cursor-move{
	background-image:url(../../../images/common/free-icon-selection.png);
}

.coordinates-display {
  position: absolute;
  bottom: 30px;
  right: 50px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 12px;
  z-index : 1;
}